/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */
@import url(https://fonts.googleapis.com/css?family=Lato:400,100,300,700,900);
@import url(https://fonts.googleapis.com/css?family=Inconsolata:400,700);
@import url(https://fonts.googleapis.com/css?family=Questrial);
@import url(https://fonts.googleapis.com/css?family=Montserrat+Alternates:400,100,300,500,600,700,900);
@import url(https://fonts.googleapis.com/css?family=Scope+One);
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0 !important;
  padding: 0 !important; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */ }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

*,
*:before,
*:after {
  box-sizing: border-box; }

/*
* {
    box-sizing: border-box;
}*/
/*.container {
    width: 100%;
    height: 100%;
    margin: 0!important;
}*/
/*.container>section {
    overflow: hidden; //eleminate the overlapping
    clear: both;
}*/
section {
  width: 100%;
  margin-right: auto;
  margin-left: auto; }

ul {
  padding: 0;
  list-style-type: none;
  text-decoration: none; }

a:link {
  text-decoration: none; }

nav {
  text-decoration: none; }

p {
  color: #606060;
  font-family: Lato;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.5;
  margin: 15px 0 0; }
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    p {
      font-size: 14px; } }
  @media only screen and (max-width: 768px) and (orientation: portrait), only screen and (max-device-width: 768px) and (orientation: portrait) {
    p {
      font-size: 14px; } }

h1,
h2,
h3 {
  margin: 0 0 20px; }

h1 {
  text-transform: capitalize;
  text-align: center;
  font-family: Montserrat Alternates;
  font-size: 48px;
  font-weight: 100;
  padding-top: 80px; }
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    h1 {
      font-size: 36px; } }

h2 {
  font-family: Montserrat Alternates;
  color: #72CCCC;
  font-size: 32px;
  font-weight: 400;
  margin: 0; }
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    h2 {
      font-size: 24px; } }

h3 {
  font-family: Montserrat Alternates;
  font-size: 24px;
  color: #fff;
  font-weight: 400;
  margin: 0; }
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    h3 {
      font-size: 18px; } }

strong {
  color: #fff;
  font-weight: 900; }

.medot,
.engagedot,
.workdot,
.worktitledot {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: 50px;
  margin-top: 50px; }

.medot,
.worktitledot {
  background-color: #bbbbbb; }

.engagedot,
.workdot {
  background-color: #3A3A3A; }

button {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none; }

.container {
  width: 75vw;
  margin: 0 auto; }
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .container {
      width: 90vw; } }

.landingbody {
  background-color: #EF565A;
  margin: 0 !important;
  width: 100%;
  height: 90vh;
  display: inline-block; }

.logobg-big,
.logobg-small,
.logo-s,
.logo-innerdots,
.logo-outterdots,
.scrolldown {
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block; }

.logobg-big {
  width: 30vh;
  height: 30vh;
  border-radius: 15vh;
  margin-top: 16vh;
  background-color: #BEE5DE;
  animation: big 2s infinite ease; }

.logobg-small {
  width: 26vh;
  height: 26vh;
  border-radius: 13vh;
  box-sizing: border-box;
  margin-top: -28vh;
  border-style: solid;
  border-width: 6px;
  border-color: #E2F7F3;
  background-color: #fff;
  animation: border 2s infinite ease; }

.logo-s {
  width: 22vh;
  height: 22vh;
  margin-top: -24vh;
  transform-origin: 50%;
  animation: logo-s 4s infinite ease; }

.logo-innerdots {
  width: 26vh;
  height: 26vh;
  margin-top: -24vh;
  transform-origin: 50%;
  animation: innerdots 4s infinite ease; }

.logo-outterdots {
  width: 29vh;
  height: 29vh;
  margin-top: -27.5vh;
  transform-origin: 50%;
  animation: outterdots 4s infinite ease; }

.selfdescription {
  padding-top: 5vh;
  text-align: center; }
  .selfdescription span {
    color: #E2F7F3;
    font-family: Lato;
    font-size: 1.5em;
    font-weight: 300;
    line-height: 1.5; }

@keyframes logo-s {
  0% {
    transform: rotate(-30deg); }
  50% {
    transform: rotate(30deg); }
  100% {
    transform: rotate(-30deg); } }

@keyframes outterdots {
  0% {
    transform: rotate(-120deg); }
  50% {
    transform: rotate(120deg); }
  100% {
    transform: rotate(-120deg); } }

@keyframes innerdots {
  0% {
    transform: rotate(40deg); }
  50% {
    transform: rotate(-40deg); }
  100% {
    transform: rotate(40deg); } }

@keyframes border {
  0% {
    border-color: #fff; }
  50% {
    border-color: #72CCCC; }
  100% {
    border-color: #fff; } }

@keyframes big {
  0% {
    background-color: #BEE5DE; }
  50% {
    background-color: #E2F7F3; }
  100% {
    background-color: #BEE5DE; } }

.scrolldown {
  width: 30px;
  margin-top: 6vh; }
  .scrolldown .catpaw3 {
    animation: catpaw 1.2s infinite ease;
    animation-delay: 0.6s; }
  .scrolldown .catpaw4 {
    animation: catpaw 1.2s infinite ease;
    animation-delay: 0.8s; }
  .scrolldown .catpaw0 {
    animation: catpaw 1.2s infinite ease;
    animation-delay: 0.9s; }
  .scrolldown .catpaw1 {
    animation: catpaw 1.2s infinite ease;
    animation-delay: 0.96s; }
  .scrolldown .catpaw2 {
    animation: catpaw 1.2s infinite ease;
    animation-delay: 1s; }

@keyframes catpaw {
  0% {
    fill: #fff; }
  95% {
    fill: #F2797B; }
  100% {
    fill: #fff; } }

@keyframes cursor {
  from,
  to {
    border-color: transparent; }
  50% {
    border-color: #fff; } }

@keyframes typing {
  from {
    width: 100%; }
  90%,
  to {
    width: 0; } }

@keyframes slide {
  25% {
    font-size: 48px;
    letter-spacing: 4px; }
  to {
    font-size: 0;
    letter-spacing: 0; } }

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  @keyframes slide {
    25% {
      font-size: 32px;
      letter-spacing: 4px; }
    to {
      font-size: 0;
      letter-spacing: 0; } } }

@media only screen and (max-width: 768px) and (orientation: portrait), only screen and (max-device-width: 768px) and (orientation: portrait) {
  @keyframes slide {
    25% {
      font-size: 32px;
      letter-spacing: 4px; }
    to {
      font-size: 0;
      letter-spacing: 0; } } }

.typing-slider p {
  font-family: Inconsolata;
  color: #fff;
  font-weight: 700;
  text-align: center;
  white-space: nowrap; }

.typing-slider p {
  position: relative;
  display: inline;
  font-size: 0;
  text-transform: uppercase;
  letter-spacing: 0;
  animation: slide 20s step-start infinite; }

.typing-slider p::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border-left: 3px solid #fff;
  background-color: #EF565A;
  animation: typing 5s infinite, cursor 1s infinite; }

.typing-slider p:nth-child(1) {
  animation-delay: 0s; }
  .typing-slider p:nth-child(1)::after {
    animation-delay: 0s;
    animation-timing-function: steps(35), step-end; }

.typing-slider p:nth-child(2) {
  animation-delay: 5s; }
  .typing-slider p:nth-child(2)::after {
    animation-delay: 5s;
    animation-timing-function: steps(39), step-end; }

.typing-slider p:nth-child(3) {
  animation-delay: 10s; }
  .typing-slider p:nth-child(3)::after {
    animation-delay: 10s;
    animation-timing-function: steps(22), step-end; }

.typing-slider p:nth-child(4) {
  animation-delay: 15s; }
  .typing-slider p:nth-child(4)::after {
    animation-delay: 15s;
    animation-timing-function: steps(32), step-end; }

.blogsection {
  background-color: #fff;
  height: auto;
  position: relative; }

.blogposts div {
  width: 27%;
  float: left;
  margin-left: 3%;
  margin-right: 3%;
  margin-bottom: 80px; }
  .blogposts div .posttitle {
    color: black; }
  .blogposts div .postdate {
    font-size: 12px;
    font-weight: 400; }
  .blogposts div .continue {
    color: #72CCCC;
    float: right;
    font-weight: 700; }

.mesection {
  background-color: #3A3A3A;
  width: 100%; }
  .mesection .me {
    color: #bbbbbb; }
  .mesection .mepic img {
    width: 150px;
    height: auto;
    margin: 0 auto;
    display: block; }
  .mesection .selfintroduction {
    width: 75vw;
    margin: 0 auto;
    padding-bottom: 100px; }
    .mesection .selfintroduction p {
      color: #bbbbbb;
      text-align: left; }
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
      .mesection .selfintroduction {
        width: 90vw; } }
    @media only screen and (max-width: 768px) and (orientation: portrait), only screen and (max-device-width: 768px) and (orientation: portrait) {
      .mesection .selfintroduction {
        width: 90vw; } }

.portfolio {
  background-color: #3A3A3A; }

.work {
  color: #bbbbbb; }

.filters {
  list-style: none;
  text-align: center;
  margin: 40px 0;
  border-radius: 20px;
  border: 2px solid #72CCCC;
  font-size: 18px;
  color: #fff;
  font-weight: 300;
  overflow: hidden;
  display: inline-block; }
  .filters li {
    padding: 10px 20px;
    display: inline-block;
    cursor: pointer;
    float: left; }
    .filters li:nth-child(n+2) {
      border-left: inherit; }
    .filters li:hover {
      background: #72CCCC; }
  .filters .active {
    background-color: #72CCCC; }

.workcoverwrapper {
  text-align: center; }
  .workcoverwrapper .workcover {
    width: 100%;
    font-size: 0;
    margin: 0 auto; }
    .workcoverwrapper .workcover li {
      width: 20%;
      display: inline-block;
      position: relative; }
      @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
        .workcoverwrapper .workcover li {
          width: 33.333%; } }
      @media only screen and (max-width: 768px) and (orientation: portrait), only screen and (max-device-width: 768px) and (orientation: portrait) {
        .workcoverwrapper .workcover li {
          width: 33.333%; } }
    @media only screen and (min-device-width: 320px) and (max-device-width: 568px) {
      .workcoverwrapper .workcover {
        width: 90%; }
        .workcoverwrapper .workcover li {
          width: 100%; } }
    .workcoverwrapper .workcover a {
      display: block;
      width: auto;
      height: auto;
      position: relative; }
      .workcoverwrapper .workcover a:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: transparent;
        transition: .3s; }
      .workcoverwrapper .workcover a img {
        width: 100%;
        height: auto; }
      .workcoverwrapper .workcover a:hover:before {
        background: rgba(0, 0, 0, 0.7); }
    .workcoverwrapper .workcover > div {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%; }

.headertop {
  background-color: #EF565A;
  height: 1vh; }

.homeheader {
  height: 9vh;
  position: relative;
  transition: all .4s ease;
  background-color: rgba(30, 30, 30, 0.9); }
  .homeheader.sticky {
    top: 0;
    width: 100%;
    height: 8vh;
    position: fixed;
    z-index: 1000;
    background-color: rgba(30, 30, 30, 0.7); }

.header-logo-container {
  padding-top: 1.4vh; }
  .header-logo-container.sticky {
    padding-top: 1.1vh; }

.headerlogo {
  width: 6vh;
  height: 6vh;
  margin-left: 5%;
  display: inline-block;
  animation: logospin 3s infinite ease; }
  .headerlogo.sticky {
    width: 5vh;
    height: 5vh;
    animation: logospin 3s infinite ease; }

.nav {
  right: 5vw;
  top: 1vh;
  font-size: 20px;
  font-family: Montserrat Alternates;
  font-weight: 600;
  text-align: center;
  position: absolute;
  z-index: 500; }
  .nav li {
    display: inline-block;
    float: left; }
    .nav li a {
      color: #bbbbbb;
      padding: 10px 20px 10px 20px;
      border: 2px solid transparent;
      background-color: transparent; }
      .nav li a:hover {
        color: #fff;
        font-weight: 600;
        border-bottom: 2px solid #EF403C;
        box-sizing: content-box; }
    .nav li:last-child a {
      color: #fff;
      text-align: center;
      border-radius: 5px;
      background-color: #EF403C; }
      .nav li:last-child a:hover {
        color: #EF403C;
        border: 2px solid transparent;
        background-color: #fff; }
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
      .nav li {
        display: none; } }
    @media only screen and (max-width: 768px) and (orientation: portrait), only screen and (max-device-width: 768px) and (orientation: portrait) {
      .nav li {
        display: none; } }
    @media only screen and (min-device-width: 320px) and (max-device-width: 568px) {
      .nav li {
        display: none; } }
  .nav.sticky {
    top: 3px;
    padding: 8px 10px 8px 10px; }
  @media only screen and (min-device-width: 320px) and (max-device-width: 568px) {
    .nav {
      top: 1.5vh;
      right: 5vw; }
      .nav li a {
        color: #fff;
        padding: 8px 10px 8px 10px; } }

.burger-menu {
  width: 5vh;
  height: 5vh;
  float: right;
  margin-top: 1.2vh;
  margin-right: 5%;
  display: none; }
  .burger-menu.sticky {
    margin-top: 0.7vh; }
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .burger-menu {
      display: initial; } }
  @media only screen and (max-width: 768px) and (orientation: portrait), only screen and (max-device-width: 768px) and (orientation: portrait) {
    .burger-menu {
      display: initial; } }
  @media only screen and (min-device-width: 320px) and (max-device-width: 568px) {
    .burger-menu {
      display: initial; } }

@keyframes logospin {
  0% {
    transform: rotate(30deg); }
  50% {
    transform: rotate(-30deg); }
  100% {
    transform: rotate(30deg); } }

.footerwrapper {
  width: 75vw;
  margin: 0 auto; }
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .footerwrapper {
      width: 90vw; } }
  @media only screen and (max-width: 768px) and (orientation: portrait), only screen and (max-device-width: 768px) and (orientation: portrait) {
    .footerwrapper {
      width: 90vw; } }

.footersection1 {
  background-color: #3A3A3A;
  width: 100%;
  padding-top: 80px;
  padding-bottom: 100px;
  overflow: hidden; }
  .footersection1 .resume {
    width: 130px;
    height: 45px;
    background-color: #EF403C;
    border-radius: 5px;
    text-align: center;
    padding-top: 10px; }
    .footersection1 .resume a {
      color: #fff;
      font-size: 20px;
      font-weight: 600px;
      font-family: Montserrat Alternates;
      font-style: uppercase;
      box-sizing: border-box;
      display: inline-block; }
    .footersection1 .resume:hover {
      color: #EF403C;
      background-color: #fff; }
      .footersection1 .resume:hover a {
        color: #EF403C; }
  .footersection1 .underhireme {
    margin-top: 50px; }
    .footersection1 .underhireme .footerinformation {
      width: 40%;
      box-sizing: border-box;
      float: left; }
      .footersection1 .underhireme .footerinformation a,
      .footersection1 .underhireme .footerinformation p {
        font-family: Lato;
        font-size: 16px;
        color: #F8B7B2;
        font-weight: 400; }
      .footersection1 .underhireme .footerinformation .clickemail {
        text-decoration: underline; }

.footerh3 {
  color: #fff;
  margin: 0; }

.footersocialmedia li {
  float: left;
  margin-right: 20px; }
  .footersocialmedia li svg {
    width: 35px;
    height: 35px; }

/*social media
----------------------------------------*/
.email:hover svg.iconemail0 {
  fill: #fff; }

/*form
----------------------------------------*/
.formwrapper {
  width: 50%;
  float: right; }

.wpcf7-form * {
  width: 100%;
  border-radius: 5px;
  box-sizing: border-box;
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  font-style: italic; }

.wpcf7-form p:nth-child(2),
.wpcf7-form p:nth-child(3) {
  width: 48%;
  margin-top: 0; }
  .wpcf7-form p:nth-child(2) input,
  .wpcf7-form p:nth-child(3) input {
    border: 1px solid transparent;
    height: 40px; }

.wpcf7-form p:nth-child(2) {
  float: left; }

.wpcf7-form p:nth-child(3) {
  float: right; }

.wpcf7-form br {
  display: none; }

.your-name input,
.your-email input {
  padding-left: 20px; }

.wpcf7-textarea {
  height: 120px;
  margin-top: 20px;
  padding-left: 20px; }

.wpcf7-submit {
  width: 130px;
  height: 45px;
  margin-top: 10px;
  background-color: transparent;
  border: 2px solid #F8B7B2;
  box-sizing: border-box;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  font-family: Montserrat Alternates;
  color: #fff;
  float: right; }
  .wpcf7-submit:hover {
    color: #72CCCC;
    border: 2px solid transparent;
    background-color: #E2F7F3; }

.footersection2 {
  background-color: #606060;
  height: 50px;
  width: 100%;
  font-family: Lato;
  font-size: 14px;
  color: #F2797B;
  font-weight: 100; }
  .footersection2 .footerbottom * {
    float: left;
    margin-right: 20px;
    margin-top: 5px; }
    .footersection2 .footerbottom * .copyrightp {
      color: #F8B7B2;
      font-size: 16px; }

.footerlogo svg {
  width: 30px;
  height: 30px; }

.jumbotron {
  top: 10px;
  width: 100%; }
  .jumbotron .worksvg,
  .jumbotron img {
    width: 100%; }

.worktitle {
  padding-top: 0;
  font-weight: 400;
  color: #3A3A3A;
  padding-bottom: 100px;
  position: relative; }

.workcontact h2 {
  text-align: center;
  margin-top: 30px; }

.row {
  width: 100%;
  padding-bottom: 60px;
  overflow: hidden; }
  .row img {
    width: 100%; }
  .row .left,
  .row .right {
    width: 50%;
    float: left;
    padding: 0 20px; }
  .row .leftcontent {
    text-align: right; }

.blog-single {
  margin: 120px 0 150px; }

.post-date {
  color: #a0a0a0;
  text-align: center;
  margin: 10px 0 15px;
  font-size: 15px; }
