.jumbotron {
    //margin-top: 20px;
    top:10px;
    width: 100%;
    //position:absolute;
    .worksvg,
    img {
        width: 100%;
    }
}

.worktitle {
    padding-top:0;
    font-weight: 400;
    color: $g-i;
    padding-bottom: 100px;
    position:relative;
}

.workcontact h2{
    text-align: center;
    margin-top: 30px;
}

.row {
    width: 100%;
    padding-bottom: 60px;
    overflow: hidden;
    img {
        width: 100%;
    }
    .left,
    .right {
        width: 50%;
        float: left;
        padding:0 20px; // top & bottom left & right
    }
    .leftcontent {
        text-align: right;
    }
}
