//branding flamingo color(strong-->light):
$flamingo-i: #EF403C;
$flamingo-ii:#EF565A;
$flamingo-iii: #F2797B;
$flamingo-iv: #F8B7B2;
//blue
//(strong-->light)
$blue-s:#72CCCC;
$blue-i:#BEE5DE;
$blue-ii:#CAE8E3;
$blue-iii:#D0EFE9;
$blue-iv:#E2F7F3;

//white
$w:#fff;
//grey
$g-i:#3A3A3A;
$g-ii:#606060;
$g-iii:#bbbbbb;
