@import url(https://fonts.googleapis.com/css?family=Lato:400,100,300,700,900);
@import url(https://fonts.googleapis.com/css?family=Inconsolata:400,700);
@import url(https://fonts.googleapis.com/css?family=Questrial);
@import url(https://fonts.googleapis.com/css?family=Montserrat+Alternates:400,100,300,500,600,700,900);
@import url(https://fonts.googleapis.com/css?family=Scope+One);
$font: Lato;
$title:Montserrat Alternates;
$f60: 60px;
$f48: 48px;
$f42: 42px;
$f36: 36px;
$f34: 34px;
$f32: 32px;
$f30: 30px;
$f28: 28px;
$f24: 24px;
$f22: 22px;
$f20: 20px;
$f18: 18px;
$f16: 16px;
$f14: 14px;
$f12: 12px;
