//serene customized
*,
*:before,
*:after {
    box-sizing: border-box;
}


/*
* {
    box-sizing: border-box;
}*/


/*.container {
    width: 100%;
    height: 100%;
    margin: 0!important;
}*/


/*.container>section {
    overflow: hidden; //eleminate the overlapping
    clear: both;
}*/

section {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

ul {
    padding: 0; // remove the left margin of indentation
    list-style-type: none;
    text-decoration: none;
}

a:link {
    text-decoration: none;
}

nav {
    text-decoration: none;
}

p {
    //content
    color: $g-ii;
    font-family: $font;
    font-size: $f20;
    font-weight: 300;
    line-height: 1.5;
    margin: 15px 0 0;
    @include respond (ipad){
        font-size: $f14;
    }
    @include respond (tablet-portrait){
        font-size: $f14;
    }
}

h1,
h2,
h3 {
    margin: 0 0 20px;
}

h1 {
    //title
    text-transform: capitalize;
    text-align: center;
    font-family: $title;
    font-size: $f48;
    font-weight: 100;
    //margin: 0; 
    padding-top: 80px;
    @include respond (ipad){
        font-size: $f36;
    }
}

h2 {
    //subtitle
    font-family:$title;
    color: $blue-s;
    font-size: $f32;
    font-weight: 400;
    margin: 0;
    @include respond (ipad){
        font-size: $f24;
    }
}

h3 {
    //subtitle
    font-family:$title;
    font-size: $f24;
    color: $w;
    font-weight: 400;
    margin: 0;
    @include respond (ipad){
        font-size: $f18;
    }
}
strong {
    color: $w;
    font-weight: 900;
}
.medot,
.engagedot,
.workdot,
.worktitledot {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 50px;
    margin-top: 50px;
}

.medot,
.worktitledot {
    background-color: $g-iii;
}

.engagedot,
.workdot{
    background-color: $g-i;
}
 button{
            background-color:transparent;
            background-repeat:no-repeat;
            border: none;
            cursor:pointer;
            overflow: hidden;
            outline:none;
        }