.footerwrapper {
    width: 75vw;
    margin: 0 auto;
    @include respond (ipad){
        width: 90vw;
    }
    @include respond (tablet-portrait){
        width: 90vw;
    }
}

.footersection1 {
    background-color: $g-i;
    width: 100%;
    padding-top: 80px;
    padding-bottom: 100px;
    overflow: hidden;
    .resume{
        width: 130px;
        height: 45px;
        background-color: $flamingo-i;
        border-radius: 5px;
        text-align: center;
        padding-top: 10px;
        a{
            color: $w;
            font-size: $f20;
            font-weight: 600px;
            font-family: $title;
            font-style: uppercase;
            box-sizing: border-box;
            display: inline-block;
            
            //padding:10px 20px 10px 20px // top/bot/left/right;
        }
        &:hover{
            color:$flamingo-i;
            //border: 2px solid transparent;
            background-color: $w;
            a{
                color: $flamingo-i;
            }
        }
        
    }
    
    .underhireme {
        margin-top: 50px;
        .footerinformation {
            width: 40%;
            box-sizing: border-box;
            float: left;
            a,
            p {
                font-family: $font;
                font-size: $f16;
                color: $flamingo-iv;
                font-weight: 400;
            }
            .clickemail {
                text-decoration: underline;
            }
        }
    }
}

.footerh3 {
    color: $w;
    margin: 0;
}

.footersocialmedia li {
    float: left;
    margin-right: 20px;
    svg {
        width: 35px;
        height: 35px;
    }
}
/*social media
----------------------------------------*/
.email:hover{
    svg.iconemail0{
        fill:$w;
    }
}

/*form
----------------------------------------*/
.formwrapper {
    width: 50%;
    float: right;
}

.wpcf7-form * {
    width: 100%;
    border-radius: 5px;
    box-sizing: border-box;
    font-family: $font;
    font-size: $f16;
    font-weight: 400;
    font-style: italic;
} //form
.wpcf7-form {
    p:nth-child(2),
    p:nth-child(3) {
        width: 48%;
        margin-top:0;
        input {
            border: 1px solid transparent;
            height: 40px;
        }
    }
    p:nth-child(2) {
        float: left;
    }
    p:nth-child(3) {
        float: right;
    }
    br {
        display: none;
    }
}
.your-name,
.your-email{
    input{
        padding-left: 20px;
    }
}

.wpcf7-textarea {
    height: 120px;
    margin-top: 20px;
    padding-left: 20px;
} //msg

.wpcf7-submit {
    width: 130px;
    height: 45px;
    margin-top: 10px;
    background-color: transparent;
    border: 2px solid $flamingo-iv;
    box-sizing: border-box;
    font-style: normal; //remove italic style that had applied in the form
    font-weight: 400;
    font-size: $f20;
    font-family: $title;
    color: $w;
    float: right;
    &:hover{
        color:$blue-s;
        border: 2px solid transparent;
        background-color: $blue-iv;
    }
}

.footersection2 {
    background-color: $g-ii;
    height: 50px;
    width: 100%;
    font-family: $font;
    font-size: $f14;
    color: $flamingo-iii;
    font-weight: 100;
    .footerbottom * {
        float: left;
        margin-right: 20px;
        margin-top: 5px;
        .copyrightp {
            color: $flamingo-iv;
            font-size: 16px;
        }
    }
}
.footerlogo svg{
    width: 30px;
    height: 30px;    
}
