.headertop {
    background-color: $flamingo-ii;
    height: 1vh;
}

//homepage header
.homeheader {
    height: 9vh;
    position: relative;
    //padding-top: 20px;
    transition: all .4s ease;
    //background-color: $g-i;
    background-color: rgba(30, 30, 30, 0.9);
    &.sticky { //sticky header
        top: 0;
        width: 100%;
        height: 8vh;
        //padding-top: 15px;
        position: fixed;
        z-index: 1000; //background-color: rgba(58, 58, 58, 0.8);
        background-color: rgba(30, 30, 30, 0.7);
        //background-color: transparent;
    }
}
.header-logo-container{
    padding-top:1.4vh;
    &.sticky {
        //sticky header
        padding-top:1.1vh;
    }
}
.headerlogo {
    width: 6vh;
    height: 6vh;
    margin-left: 5%;
    display: inline-block;
    animation: logospin 3s infinite ease;
    &.sticky {
        //sticky header
        width: 5vh;
        height: 5vh;
        animation: logospin 3s infinite ease;
    }

}

.nav{
    right: 5vw;
    //left: 0;
    top:1vh;
    font-size: $f20;
    font-family: $title;
    font-weight: 600;
    text-align: center;
    position: absolute;
    z-index: 500;
    li {
        display: inline-block;
        float: left;
        a {
            color: $g-iii;
            padding:10px 20px 10px 20px;//top,right,bottom,left
            border: 2px solid transparent;
            background-color: transparent;
            &:hover{
                color: $w;
                font-weight: 600;
                border-bottom: 2px solid $flamingo-i;
                box-sizing: content-box;
            }
        }
        &:last-child{
            a{
                color:$w;
                //padding:10px 20px 10px 20px;
                text-align: center;
                border-radius: 5px;
                 
                background-color: $flamingo-i;
                &:hover{
                    color:$flamingo-i;
                    border: 2px solid transparent;//remove underline for resume while hovering
                    background-color: $w;
                }
            }
        }
        @include respond (ipad){
            display: none;
        }
        @include respond (tablet-portrait){
            display: none;
        }
        @include respond (iphone-five){
            display: none;
        } 
    }
    &.sticky{
        top:3px;
        padding:8px 10px 8px 10px;//top,right,bottom,left
    }
    @include respond (iphone-five){
        top:1.5vh;
        right: 5vw;
        li a {
            color: $w;
            padding:8px 10px 8px 10px;//top,right,bottom,left
        }
    }
}


.burger-menu{
    width: 5vh;
    height: 5vh;
    float: right;
    margin-top: 1.2vh;
    margin-right: 5%;
    display: none;//hide the burger menu on desktop version
    &.sticky{
        margin-top: 0.7vh;
    }
    @include respond (ipad){
        display: initial;//hide the burger menu on desktop version  
    }
    @include respond (tablet-portrait){
        display: initial;//hide the burger menu on desktop version  
    }
    @include respond (iphone-five){
        display: initial;//hide the burger menu on desktop version  
    } 
    
}


//animation
@keyframes logospin {
    0% {
        transform: rotate(30deg);
    }
    50% {
        transform: rotate(-30deg);
    }
    100% {
        transform: rotate(30deg);
    }
}