/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */
@import url(https://fonts.googleapis.com/css?family=Lato:400,100,300,700,900);
@import url(https://fonts.googleapis.com/css?family=Inconsolata:400,700);
@import url(https://fonts.googleapis.com/css?family=Questrial);
@import url(https://fonts.googleapis.com/css?family=Montserrat+Alternates:400,100,300,500,600,700,900);
@import url(https://fonts.googleapis.com/css?family=Scope+One);
/* line 10, ../sass/base/_normalize.scss */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
/* line 24, ../sass/base/_normalize.scss */
body {
  margin: 0 !important;
  padding: 0 !important;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
/* line 41, ../sass/base/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
/* line 63, ../sass/base/_normalize.scss */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
/* line 79, ../sass/base/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
/* line 90, ../sass/base/_normalize.scss */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
/* line 104, ../sass/base/_normalize.scss */
a {
  background-color: transparent;
}

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
/* line 114, ../sass/base/_normalize.scss */
a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
/* line 128, ../sass/base/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
/* line 137, ../sass/base/_normalize.scss */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
/* line 147, ../sass/base/_normalize.scss */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
/* line 157, ../sass/base/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */
/* line 167, ../sass/base/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
/* line 177, ../sass/base/_normalize.scss */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
/* line 186, ../sass/base/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 194, ../sass/base/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 198, ../sass/base/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
/* line 211, ../sass/base/_normalize.scss */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
/* line 220, ../sass/base/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
/* line 233, ../sass/base/_normalize.scss */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
/* line 242, ../sass/base/_normalize.scss */
hr {
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
/* line 252, ../sass/base/_normalize.scss */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
/* line 261, ../sass/base/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
/* line 287, ../sass/base/_normalize.scss */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
/* line 305, ../sass/base/_normalize.scss */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
/* line 317, ../sass/base/_normalize.scss */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
/* line 331, ../sass/base/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
/* line 349, ../sass/base/_normalize.scss */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
/* line 359, ../sass/base/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
/* line 371, ../sass/base/_normalize.scss */
input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
/* line 384, ../sass/base/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
/* line 399, ../sass/base/_normalize.scss */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
/* line 410, ../sass/base/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
/* line 424, ../sass/base/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
/* line 434, ../sass/base/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
/* line 446, ../sass/base/_normalize.scss */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
/* line 458, ../sass/base/_normalize.scss */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
/* line 468, ../sass/base/_normalize.scss */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
/* line 481, ../sass/base/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 486, ../sass/base/_normalize.scss */
td,
th {
  padding: 0;
}

/* line 2, ../sass/base/_global.scss */
*,
*:before,
*:after {
  box-sizing: border-box;
}

/*
* {
    box-sizing: border-box;
}*/
/*.container {
    width: 100%;
    height: 100%;
    margin: 0!important;
}*/
/*.container>section {
    overflow: hidden; //eleminate the overlapping
    clear: both;
}*/
/* line 27, ../sass/base/_global.scss */
section {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

/* line 33, ../sass/base/_global.scss */
ul {
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}

/* line 39, ../sass/base/_global.scss */
a:link {
  text-decoration: none;
}

/* line 43, ../sass/base/_global.scss */
nav {
  text-decoration: none;
}

/* line 47, ../sass/base/_global.scss */
p {
  color: #606060;
  font-family: Lato;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.5;
  margin: 15px 0 0;
}

/* line 57, ../sass/base/_global.scss */
h1,
h2,
h3 {
  margin: 0 0 20px;
}

/* line 63, ../sass/base/_global.scss */
h1 {
  text-transform: capitalize;
  text-align: center;
  font-family: Montserrat Alternates;
  font-size: 48px;
  font-weight: 100;
  padding-top: 80px;
}

/* line 74, ../sass/base/_global.scss */
h2 {
  font-family: Montserrat Alternates;
  color: #72CCCC;
  font-size: 24px;
  font-weight: 400;
  margin: 0;
}

/* line 83, ../sass/base/_global.scss */
h3 {
  font-family: Montserrat Alternates;
  font-size: 24px;
  color: #fff;
  font-weight: 400;
  margin: 0;
}

/* line 92, ../sass/base/_global.scss */
.medot,
.engagedot,
.workdot,
.worktitledot {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: 50px;
  margin-top: 50px;
}

/* line 104, ../sass/base/_global.scss */
.medot,
.worktitledot {
  background-color: #f4f4f4;
}

/* line 109, ../sass/base/_global.scss */
.engagedot,
.workdot {
  background-color: #3A3A3A;
}

/* line 1, ../sass/layout/_grid.scss */
.container {
  width: 1200px;
  margin: 0 auto;
}

/* line 1, ../sass/home/_landing.scss */
.landingbody {
  background-color: #EF565A;
  margin: 0 !important;
  width: 100%;
  height: 100vh;
  display: inline-block;
}

/* line 9, ../sass/home/_landing.scss */
.logobg-big,
.logobg-small,
.logo-s,
.logo-innerdots,
.logo-outterdots,
.scrolldown {
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

/* line 22, ../sass/home/_landing.scss */
.logobg-big {
  width: 300px;
  height: 300px;
  border-radius: 150px;
  margin-top: 150px;
  background-color: #BEE5DE;
  animation: big 2s infinite ease;
}

/* line 31, ../sass/home/_landing.scss */
.logobg-small {
  width: 260px;
  height: 260px;
  border-radius: 150px;
  box-sizing: border-box;
  margin-top: -280px;
  border-style: solid;
  border-width: 6px;
  border-color: #E2F7F3;
  background-color: #fff;
  animation: border 2s infinite ease;
}

/* line 44, ../sass/home/_landing.scss */
.logo-s {
  width: 250px;
  height: 250px;
  margin-top: -255px;
  transform-origin: 50%;
  animation: logo-s 4s infinite ease;
}

/* line 52, ../sass/home/_landing.scss */
.logo-innerdots {
  width: 260px;
  height: 260px;
  margin-top: -255px;
  transform-origin: 50%;
  animation: innerdots 4s infinite ease;
}

/* line 60, ../sass/home/_landing.scss */
.logo-outterdots {
  width: 290px;
  height: 290px;
  margin-top: -275px;
  transform-origin: 50%;
  animation: outterdots 4s infinite ease;
}

/* line 68, ../sass/home/_landing.scss */
.selfdescription {
  padding-top: 5vh;
  text-align: center;
}
/* line 71, ../sass/home/_landing.scss */
.selfdescription span {
  color: #E2F7F3;
  font-family: Lato;
  font-size: 1.5em;
  font-weight: 300;
  line-height: 1.5;
}

/* line 81, ../sass/home/_landing.scss */
strong {
  color: #fff;
  font-weight: 900;
}

@keyframes logo-s {
  0% {
    transform: rotate(-30deg);
  }
  50% {
    transform: rotate(30deg);
  }
  100% {
    transform: rotate(-30deg);
  }
}
@keyframes outterdots {
  0% {
    transform: rotate(-120deg);
  }
  50% {
    transform: rotate(120deg);
  }
  100% {
    transform: rotate(-120deg);
  }
}
@keyframes innerdots {
  0% {
    transform: rotate(40deg);
  }
  50% {
    transform: rotate(-40deg);
  }
  100% {
    transform: rotate(40deg);
  }
}
@keyframes border {
  0% {
    border-color: #fff;
  }
  50% {
    border-color: #72CCCC;
  }
  100% {
    border-color: #fff;
  }
}
@keyframes big {
  0% {
    background-color: #BEE5DE;
  }
  50% {
    background-color: #E2F7F3;
  }
  100% {
    background-color: #BEE5DE;
  }
}
/* line 146, ../sass/home/_landing.scss */
.scrolldown {
  width: 30px;
  margin-top: 10vh;
}
/* line 149, ../sass/home/_landing.scss */
.scrolldown .catpaw3 {
  animation: catpaw 1.2s infinite ease;
  animation-delay: 0.6s;
}
/* line 153, ../sass/home/_landing.scss */
.scrolldown .catpaw4 {
  animation: catpaw 1.2s infinite ease;
  animation-delay: 0.8s;
}
/* line 157, ../sass/home/_landing.scss */
.scrolldown .catpaw0 {
  animation: catpaw 1.2s infinite ease;
  animation-delay: 0.9s;
}
/* line 161, ../sass/home/_landing.scss */
.scrolldown .catpaw1 {
  animation: catpaw 1.2s infinite ease;
  animation-delay: 0.96s;
}
/* line 165, ../sass/home/_landing.scss */
.scrolldown .catpaw2 {
  animation: catpaw 1.2s infinite ease;
  animation-delay: 1s;
}

@keyframes catpaw {
  0% {
    fill: #fff;
  }
  95% {
    fill: #F2797B;
  }
  100% {
    fill: #fff;
  }
}
@keyframes cursor {
  from,
    to {
    border-color: transparent;
  }
  50% {
    border-color: #fff;
  }
}
@keyframes typing {
  from {
    width: 100%;
  }
  90%,
    to {
    width: 0;
  }
}
@keyframes slide {
  25% {
    font-size: 3rem;
    letter-spacing: 4px;
  }
  to {
    font-size: 0;
    letter-spacing: 0;
  }
}
/* line 221, ../sass/home/_landing.scss */
.typing-slider p {
  font-family: Inconsolata;
  color: #fff;
  font-weight: 700;
  text-align: center;
  white-space: nowrap;
}

/* line 230, ../sass/home/_landing.scss */
.typing-slider p {
  position: relative;
  display: inline;
  font-size: 0;
  text-transform: uppercase;
  letter-spacing: 0;
  animation: slide 20s step-start infinite;
}

/* line 239, ../sass/home/_landing.scss */
.typing-slider p::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border-left: 3px solid #fff;
  background-color: #EF565A;
  animation: typing 5s infinite, cursor 1s infinite;
}

/* line 252, ../sass/home/_landing.scss */
.typing-slider p:nth-child(1) {
  animation-delay: 0s;
}
/* line 254, ../sass/home/_landing.scss */
.typing-slider p:nth-child(1)::after {
  animation-delay: 0s;
  animation-timing-function: steps(35), step-end;
}

/* line 252, ../sass/home/_landing.scss */
.typing-slider p:nth-child(2) {
  animation-delay: 5s;
}
/* line 254, ../sass/home/_landing.scss */
.typing-slider p:nth-child(2)::after {
  animation-delay: 5s;
  animation-timing-function: steps(39), step-end;
}

/* line 252, ../sass/home/_landing.scss */
.typing-slider p:nth-child(3) {
  animation-delay: 10s;
}
/* line 254, ../sass/home/_landing.scss */
.typing-slider p:nth-child(3)::after {
  animation-delay: 10s;
  animation-timing-function: steps(22), step-end;
}

/* line 252, ../sass/home/_landing.scss */
.typing-slider p:nth-child(4) {
  animation-delay: 15s;
}
/* line 254, ../sass/home/_landing.scss */
.typing-slider p:nth-child(4)::after {
  animation-delay: 15s;
  animation-timing-function: steps(32), step-end;
}

/* line 1, ../sass/home/_blogsection.scss */
.blogsection {
  background-color: #fff;
  height: auto;
  position: relative;
}

/* line 7, ../sass/home/_blogsection.scss */
.blogwrapper {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  margin: 0 auto;
}

/* line 14, ../sass/home/_blogsection.scss */
.blogposts div {
  width: 27%;
  float: left;
  margin-left: 3%;
  margin-right: 3%;
  margin-bottom: 80px;
}
/* line 20, ../sass/home/_blogsection.scss */
.blogposts div .posttitle {
  color: black;
}
/* line 23, ../sass/home/_blogsection.scss */
.blogposts div .postdate {
  font-size: 12px;
  font-weight: 400;
}
/* line 27, ../sass/home/_blogsection.scss */
.blogposts div .continue {
  color: #72CCCC;
  float: right;
  font-weight: 700;
}
/* line 32, ../sass/home/_blogsection.scss */
.blogposts div p {
  font-size: 16px;
}

/* line 1, ../sass/home/_mesection.scss */
.mesection {
  background-color: #3A3A3A;
  width: 100%;
}
/* line 4, ../sass/home/_mesection.scss */
.mesection .me {
  color: #f4f4f4;
}
/* line 8, ../sass/home/_mesection.scss */
.mesection .mepic img {
  width: 150px;
  height: auto;
  margin: 0 auto;
  display: block;
}
/* line 15, ../sass/home/_mesection.scss */
.mesection .selfintroduction {
  width: 1200px;
  margin: 0 auto;
  padding-bottom: 100px;
}
/* line 19, ../sass/home/_mesection.scss */
.mesection .selfintroduction p {
  color: #f4f4f4;
  font-size: 20px;
  text-align: left;
}

/* line 1, ../sass/home/_workcover.scss */
.portfolio {
  background-color: #3A3A3A;
}

/* line 4, ../sass/home/_workcover.scss */
.work {
  color: #f4f4f4;
}

/* line 7, ../sass/home/_workcover.scss */
.filters {
  list-style: none;
  text-align: center;
  margin: 40px 0;
  border-radius: 20px;
  border: 2px solid #72CCCC;
  font-size: 18px;
  color: #fff;
  font-weight: 300;
  overflow: hidden;
  display: inline-block;
}
/* line 18, ../sass/home/_workcover.scss */
.filters li {
  padding: 10px 20px;
  display: inline-block;
  cursor: pointer;
  float: left;
}
/* line 23, ../sass/home/_workcover.scss */
.filters li:nth-child(n+2) {
  border-left: inherit;
}
/* line 26, ../sass/home/_workcover.scss */
.filters li:hover {
  background: #72CCCC;
}

/* line 33, ../sass/home/_workcover.scss */
.workcoverwrapper {
  text-align: center;
}
/* line 35, ../sass/home/_workcover.scss */
.workcoverwrapper .workcover {
  width: 100%;
  font-size: 0;
  margin: 0 auto;
}
/* line 39, ../sass/home/_workcover.scss */
.workcoverwrapper .workcover li {
  width: 20%;
  display: inline-block;
  position: relative;
}
/* line 44, ../sass/home/_workcover.scss */
.workcoverwrapper .workcover a {
  display: block;
  width: auto;
  height: auto;
  position: relative;
}
/* line 50, ../sass/home/_workcover.scss */
.workcoverwrapper .workcover a:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: transparent;
  transition: .3s;
}
/* line 61, ../sass/home/_workcover.scss */
.workcoverwrapper .workcover a img {
  width: 100%;
  height: auto;
}
/* line 65, ../sass/home/_workcover.scss */
.workcoverwrapper .workcover a:hover:before {
  background: rgba(0, 0, 0, 0.7);
}
/* line 69, ../sass/home/_workcover.scss */
.workcoverwrapper .workcover > div {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}

/* line 1, ../sass/partials/_header.scss */
.headertop {
  background-color: #EF565A;
  height: 10px;
}

/* line 7, ../sass/partials/_header.scss */
.homeheader {
  height: 100px;
  position: relative;
  padding-top: 20px;
  transition: all .4s ease;
  background-color: rgba(30, 30, 30, 0.9);
}
/* line 13, ../sass/partials/_header.scss */
.homeheader.sticky {
  top: 0;
  width: 100%;
  height: 80px;
  position: fixed;
  z-index: 1000;
  background-color: transparent;
}

/* line 25, ../sass/partials/_header.scss */
.headerlogo {
  width: 60px;
  height: 60px;
  margin-left: 5%;
  display: inline-block;
  animation: logospin 3s infinite ease;
}
/* line 31, ../sass/partials/_header.scss */
.headerlogo.sticky {
  width: 45px;
  height: 45px;
  animation: logospin 3s infinite ease;
}

/* line 38, ../sass/partials/_header.scss */
.toolbar li a {
  color: #F8B7B2;
}
/* line 40, ../sass/partials/_header.scss */
.toolbar li a:hover {
  color: #fff;
  border: 2px solid #F8B7B2;
}

/* line 45, ../sass/partials/_header.scss */
.sub-page-toolbar li a {
  color: #fff;
}
/* line 47, ../sass/partials/_header.scss */
.sub-page-toolbar li a:hover {
  border: 2px solid #72CCCC;
}

/* line 51, ../sass/partials/_header.scss */
.toolbar,
.sub-page-toolbar {
  left: 65%;
  right: 0;
  top: 20px;
  font-size: 18px;
  font-family: Montserrat Alternates;
  font-weight: 400;
  text-align: center;
  position: absolute;
  z-index: 500;
}
/* line 63, ../sass/partials/_header.scss */
.toolbar li,
.sub-page-toolbar li {
  display: inline-block;
  float: left;
}
/* line 66, ../sass/partials/_header.scss */
.toolbar li a,
.sub-page-toolbar li a {
  padding: 10px 20px 10px 20px;
  border-radius: 5px;
  border: 2px solid transparent;
  background-color: transparent;
}
/* line 71, ../sass/partials/_header.scss */
.toolbar li a:hover,
.sub-page-toolbar li a:hover {
  border-radius: 5px;
  box-sizing: content-box;
}
/* line 77, ../sass/partials/_header.scss */
.toolbar li:last-child a,
.sub-page-toolbar li:last-child a {
  color: #fff;
  padding: 10px 20px 10px 20px;
  border-radius: 5px;
  border: 2px solid transparent;
  background-color: #EF403C;
}
/* line 83, ../sass/partials/_header.scss */
.toolbar li:last-child a:hover,
.sub-page-toolbar li:last-child a:hover {
  color: #72CCCC;
  background-color: #E2F7F3;
}
/* line 90, ../sass/partials/_header.scss */
.toolbar.sticky,
.sub-page-toolbar.sticky {
  top: 10px;
}

/* //sub page header
.sub-page-header{
     width:100%;
     padding-top: 20px;
     transition: all .4s ease;
     display:inline;
     position: absolute;
     z-index: 200;
     &.sticky {
        //sticky header
        top: 0;
        width: 100%;
        position: fixed;
        z-index: 1000; //background-color: rgba(58, 58, 58, 0.8);
        background-color: rgba(255, 255, 255, 0.2);
    }
}*/
@keyframes logospin {
  0% {
    transform: rotate(30deg);
  }
  50% {
    transform: rotate(-30deg);
  }
  100% {
    transform: rotate(30deg);
  }
}
/* line 1, ../sass/partials/_footer.scss */
.footerwrapper {
  width: 1200px;
  margin: 0 auto;
}

/* line 6, ../sass/partials/_footer.scss */
.footersection1 {
  background-color: #3A3A3A;
  width: 100%;
  padding-top: 80px;
  padding-bottom: 100px;
  overflow: hidden;
}
/* line 12, ../sass/partials/_footer.scss */
.footersection1 .resume a {
  color: #fff;
  width: 130px;
  height: 45px;
  font-size: 20px;
  font-weight: 400px;
  font-family: Montserrat Alternates;
  font-style: uppercase;
  border: 2px solid transparent;
  box-sizing: border-box;
  border-radius: 5px;
  background-color: #EF403C;
  display: inline-block;
  text-align: center;
  padding: 5px 0;
}
/* line 27, ../sass/partials/_footer.scss */
.footersection1 .resume a:hover {
  color: #72CCCC;
  border: 2px solid transparent;
  background-color: #E2F7F3;
}
/* line 34, ../sass/partials/_footer.scss */
.footersection1 .underhireme {
  margin-top: 50px;
}
/* line 36, ../sass/partials/_footer.scss */
.footersection1 .underhireme .footerinformation {
  width: 40%;
  box-sizing: border-box;
  float: left;
}
/* line 40, ../sass/partials/_footer.scss */
.footersection1 .underhireme .footerinformation a,
.footersection1 .underhireme .footerinformation p {
  font-family: Lato;
  font-size: 16px;
  color: #F8B7B2;
  font-weight: 400;
}
/* line 47, ../sass/partials/_footer.scss */
.footersection1 .underhireme .footerinformation .clickemail {
  text-decoration: underline;
}

/* line 54, ../sass/partials/_footer.scss */
.footerh3 {
  color: #fff;
  margin: 0;
}

/* line 59, ../sass/partials/_footer.scss */
.footersocialmedia li {
  float: left;
  margin-right: 20px;
}
/* line 62, ../sass/partials/_footer.scss */
.footersocialmedia li svg {
  width: 35px;
  height: 35px;
}

/*social media
----------------------------------------*/
/* line 70, ../sass/partials/_footer.scss */
.email:hover svg.iconemail0 {
  fill: #fff;
}

/*form
----------------------------------------*/
/* line 77, ../sass/partials/_footer.scss */
.formwrapper {
  width: 50%;
  float: right;
}

/* line 82, ../sass/partials/_footer.scss */
.wpcf7-form * {
  width: 100%;
  border-radius: 5px;
  box-sizing: border-box;
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
  font-style: italic;
}

/* line 92, ../sass/partials/_footer.scss */
.wpcf7-form p:nth-child(2),
.wpcf7-form p:nth-child(3) {
  width: 48%;
}
/* line 95, ../sass/partials/_footer.scss */
.wpcf7-form p:nth-child(2) input,
.wpcf7-form p:nth-child(3) input {
  border: 1px solid transparent;
  height: 40px;
}
/* line 100, ../sass/partials/_footer.scss */
.wpcf7-form p:nth-child(2) {
  float: left;
}
/* line 103, ../sass/partials/_footer.scss */
.wpcf7-form p:nth-child(3) {
  float: right;
}
/* line 106, ../sass/partials/_footer.scss */
.wpcf7-form br {
  display: none;
}

/* line 111, ../sass/partials/_footer.scss */
.wpcf7-textarea {
  height: 120px;
}

/* line 114, ../sass/partials/_footer.scss */
.wpcf7-submit {
  width: 130px;
  height: 45px;
  margin-top: 15px;
  background-color: transparent;
  border: 2px solid #F8B7B2;
  box-sizing: border-box;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: #fff;
  float: right;
}
/* line 126, ../sass/partials/_footer.scss */
.wpcf7-submit:hover {
  color: #72CCCC;
  border: 2px solid transparent;
  background-color: #E2F7F3;
}

/* line 133, ../sass/partials/_footer.scss */
.footersection2 {
  background-color: #606060;
  height: 50px;
  width: 100%;
  font-family: Lato;
  font-size: 14px;
  color: #F2797B;
  font-weight: 100;
}
/* line 141, ../sass/partials/_footer.scss */
.footersection2 .footerbottom * {
  float: left;
  margin-right: 20px;
  margin-top: 5px;
}
/* line 145, ../sass/partials/_footer.scss */
.footersection2 .footerbottom * .footerlogo svg {
  fill: #F8B7B2;
  width: 30px;
  height: auto;
}
/* line 150, ../sass/partials/_footer.scss */
.footersection2 .footerbottom * .copyrightp {
  color: #F2797B;
  font-size: 16px;
}

/* line 1, ../sass/works/_workglobal.scss */
.jumbotron {
  top: 10px;
  width: 100%;
}
/* line 6, ../sass/works/_workglobal.scss */
.jumbotron .worksvg,
.jumbotron img {
  width: 100%;
}

/* line 12, ../sass/works/_workglobal.scss */
.worktitle {
  padding-top: 0;
  font-weight: 400;
  color: #3A3A3A;
  padding-bottom: 100px;
  position: relative;
}

/* line 20, ../sass/works/_workglobal.scss */
.workcontact h2 {
  text-align: center;
  margin-top: 30px;
}

/* line 25, ../sass/works/_workglobal.scss */
.row {
  width: 100%;
  padding-bottom: 60px;
  overflow: hidden;
}
/* line 29, ../sass/works/_workglobal.scss */
.row img {
  width: 100%;
}
/* line 32, ../sass/works/_workglobal.scss */
.row .left,
.row .right {
  width: 50%;
  float: left;
  padding: 0 20px;
}
/* line 38, ../sass/works/_workglobal.scss */
.row .leftcontent {
  text-align: right;
}

/* line 1, ../sass/pages/_blog-single.scss */
.blog-single {
  margin: 120px 0 150px;
}

/* line 5, ../sass/pages/_blog-single.scss */
.post-date {
  color: #a0a0a0;
  text-align: center;
  margin: 10px 0 15px;
  font-size: 15px;
}
