.blogsection {
    background-color: $w;
    height: auto;
    position: relative;
}

.blogposts div {
    width: 27%;
    float: left;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 80px;
    .posttitle {
        color: black;
    }
    .postdate {
        font-size: $f12;
        font-weight: 400;
    }
    .continue {
        color: $blue-s;
        float: right;
        font-weight: 700;
    }
}
