.landingbody {
    background-color: $flamingo-ii; //background-color:#191919;
    margin: 0 !important;
    width: 100%;
    height: 90vh;
    display: inline-block; //border:1px solid black;
}

.logobg-big,
.logobg-small,
.logo-s,
.logo-innerdots,
.logo-outterdots,
.scrolldown {
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.logobg-big {
    width: 30vh;
    height: 30vh;
    border-radius: 15vh;
    margin-top: 16vh;
    background-color: $blue-i;
    animation: big 2s infinite ease;
}

.logobg-small {
    width: 26vh;
    height: 26vh;
    border-radius: 13vh;
    box-sizing: border-box; //define the box size, border width is included.
    margin-top: -28vh; // -(30/2+26/2)
    border-style: solid;
    border-width: 6px;
    border-color: $blue-iv;
    background-color: $w; //background-color: rgba(255, 255, 255, 0.5);
    animation: border 2s infinite ease;
}

.logo-s {
    width: 22vh;
    height: 22vh; //position: fixed;
    margin-top: -24vh; // -(26/2+22/2)
    transform-origin: 50%;
    animation: logo-s 4s infinite ease;
}

.logo-innerdots {
    width: 26vh;
    height: 26vh;
    margin-top: -24vh; // -(22/2+26/2)
    transform-origin: 50%;
    animation: innerdots 4s infinite ease;
}

.logo-outterdots {
    width: 29vh;
    height: 29vh;
    margin-top: -27.5vh; //-(26/2+29/2)
    transform-origin: 50%;
    animation: outterdots 4s infinite ease;
}

.selfdescription {
    padding-top: 5vh;
    text-align: center;
    span {
        // learn from codepen
        color: $blue-iv;
        font-family: Lato;
        font-size: 1.5em;
        font-weight: 300;
        line-height: 1.5;
    }
}



@keyframes logo-s {
    0% {
        transform: rotate(-30deg);
    }
    50% {
        transform: rotate(30deg);
    }
    100% {
        transform: rotate(-30deg);
    }
}

@keyframes outterdots {
    0% {
        transform: rotate(-120deg);
    }
    50% {
        transform: rotate(120deg);
    }
    100% {
        transform: rotate(-120deg);
    }
}

@keyframes innerdots {
    0% {
        transform: rotate(40deg);
    }
    50% {
        transform: rotate(-40deg);
    }
    100% {
        transform: rotate(40deg);
    }
}

@keyframes border {
    0% {
        border-color: $w;
    }
    50% {
        border-color: $blue-s;
    }
    100% {
        border-color: $w;
    }
}

@keyframes big {
    0% {
        background-color: $blue-i;
    }
    50% {
        background-color: $blue-iv;
    }
    100% {
        background-color: $blue-i;
    }
}

.scrolldown {
    width: 30px;
    margin-top: 6vh;
    .catpaw3 {
        animation: catpaw 1.2s infinite ease;
        animation-delay: 0.6s; // 1/2 of the time
    }
    .catpaw4 {
        animation: catpaw 1.2s infinite ease;
        animation-delay: 0.8s; // 2/3 of the time
    }
    .catpaw0 {
        animation: catpaw 1.2s infinite ease;
        animation-delay: 0.9s; // 3/4 of the time
    }
    .catpaw1 {
        animation: catpaw 1.2s infinite ease;
        animation-delay: 0.96s; // 4/5 of the time
    }
    .catpaw2 {
        animation: catpaw 1.2s infinite ease;
        animation-delay: 1s; // 5/6 of the time
    }
}

@keyframes catpaw {
    0% {
        fill: $w;
    }
    95% {
        fill: $flamingo-iii;
    }
    100% {
        fill: $w;
    }
}

//learn from codepen
$slider-name: typing-slider;
$slides: 4;
$typing-duration: 5s;
$tab-letters: 35 39 22 32; //number of characters in each paragraph
$background: $flamingo-ii;
@keyframes cursor {
    from,
    to {
        border-color: transparent;
    }
    50% {
        border-color: $w;
    }
}

@keyframes typing {
    from {
        width: 100%;
    }
    90%,
    to {
        width: 0;
    }
}

@keyframes slide {
    #{100% / $slides} {
        font-size: 48px;
        letter-spacing: 4px;
    }
    to {
        font-size: 0;
        letter-spacing: 0;
    }
}
@include respond (ipad){
    @keyframes slide {
        #{100% / $slides} {
            font-size: 32px;
            letter-spacing: 4px;
            
        }
        to {
            font-size: 0;
            letter-spacing: 0;
        }
    }
}
@include respond (screen1){
    @keyframes slide {
        #{100% / $slides} {
            font-size: 28px;
            letter-spacing: 4px;
            
        }
        to {
            font-size: 0;
            letter-spacing: 0;
        }
    }
}
@include respond (tablet-portrait){
    @keyframes slide {
        #{100% / $slides} {
            font-size: 32px;
            letter-spacing: 4px;
            
        }
        to {
            font-size: 0;
            letter-spacing: 0;
        }
    }
}
.#{$slider-name} p {
    //"p" to overwrite the global p
    font-family: Inconsolata;
    color: $w;
    font-weight: 700;
    text-align: center;
    white-space: nowrap;
}

.#{$slider-name} p {
    position: relative;
    display: inline;
    font-size: 0;
    text-transform: uppercase;
    letter-spacing: 0;
    animation: slide $typing-duration * $slides step-start infinite;
}

.#{$slider-name} p::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    border-left: 3px solid $w;
    background-color: $background;
    animation: typing $typing-duration infinite, cursor 1s infinite;
}

@each $letters in $tab-letters {
    $i: index($tab-letters, $letters);
    .#{$slider-name} p:nth-child(#{$i}) {
        animation-delay: $typing-duration * ($i - 1);
        &::after {
            animation-delay: $typing-duration * ($i - 1);
            animation-timing-function: steps(#{$letters}),
            step-end;
        }
    }
}
