.mesection {
    background-color: $g-i;
    width: 100%;
    .me {
        color: $g-iii;
    }
    .mepic {
        img {
            width: 150px;
            height: auto;
            margin: 0 auto;
            display: block;
        }
    }
    .selfintroduction {
        width: 75vw;
        margin: 0 auto;
        padding-bottom: 100px;
        p {
            color: $g-iii;
            //font-size: $f20;
            text-align: left;
        }
        @include respond (ipad){
            width: 90vw;
        }
        @include respond (tablet-portrait){
            width: 90vw;
        }
    }
}
