.portfolio {
    background-color: $g-i;
}
.work{
    color: $g-iii;
}
.filters {
    list-style: none;
    text-align: center;
    margin: 40px 0;
    border-radius: 20px;
    border: 2px solid $blue-s;
    font-size: $f18;
    color: $w;
    font-weight: 300;
    overflow: hidden;
    display: inline-block;
    li {
        padding: 10px 20px;
        display: inline-block;
        cursor: pointer;
        float: left;
        &:nth-child(n+2) {
            border-left: inherit;
        }
        &:hover {
            background: $blue-s;
        }
    }
    .active {
        background-color: $blue-s;
    }
}

.workcoverwrapper {
    text-align: center;
    .workcover {
        width: 100%; 
        font-size: 0;
        margin: 0 auto;
        
        li {
            width: 20%;
            display: inline-block;
            position: relative;
            @include respond (ipad) {
                width: 33.333%;
            }
            @include respond (tablet-portrait) {
                width: 33.333%;
            }
           
        }
        @include respond (iphone-five) {
            width: 90%;
            li{
                width: 100%;
            }
        }
        a {
            // was an inline element by defaults;
            display: block; //make the <a> cover the whole img
            width: auto;
            height: auto;
            position: relative;
            &:before{
                content: "";
                position: absolute;
                top: 0;
                left:0;
                right: 0;
                bottom: 0;
                background: rgba(0,0,0, 0);
                transition: .3s;
            }

            img {
                width: 100%;
                height: auto;
            }
            &:hover:before{
                background: rgba(0,0,0, .7);
            }
        }
        &>div {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
        }
    }
}
